#l {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#c {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#d {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#r {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#new {
    margin-left: 5px;
    width: 200px;
}
div.menu {
    border: 1px solid #CCCCCC;
    font-family: Arial,sans-serif;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 4px 4px 0;
    position: relative;
    width: 200px;
}
ul.sortable li {
    position: relative;
}
ul.boxy {
    border: 1px solid #CCCCCC;
    font-family: Arial,sans-serif;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 4px 4px 0;
    width: 200px;
}
li.active {
    border: 1px solid #CCCCCC;
    cursor: move;
    margin-bottom: 4px;
    padding: 2px;
}
li.inactive {
    background-color: #FF6C6C;
    border: 1px solid #CCCCCC;
    cursor: move;
    margin-bottom: 4px;
    padding: 2px;
}
ul.boxy li {
    border: 1px solid #CCCCCC;
    cursor: move;
    margin-bottom: 4px;
    padding: 2px;
}
#left_col {
    margin-left: 5px;
    width: 200px;
}
#center {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#right_col {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#sajax1 {
    float: left;
    margin-left: 5px;
    width: 200px;
}
#sajax2 {
    float: left;
    margin-left: 5px;
    width: 200px;
}