.textbold {
    font-weight: bold;
}
.texterror {
    color: #FF0000;
    font-size: large;
    font-weight: bold;
}
.texterrorcenter {
    color: #FF0000;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.nuketitle {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.switchcontent {
    border-top-width: 0;
}
.switchclosecontent {
    border-top-width: 0;
    display: none;
}